In [1]:
 my_list = [1, 2, 3]

In [2]:
my_list

[1, 2, 3]

In [3]:
for i in my_list:
    print(i)

1
2
3

In [4]:
for i in my_list:
    print(i)
    print("hello world")

1
hello world
2
hello world
3
hello world

In [5]:
numbers = [1, 2, 3, 4, 5, 6]

sum_numbers = 0

for number in numbers:
    sum_numbers = sum_numbers + number  # 0 + 1 = 1
                                        # 1 + 2 = 3
print(sum_numbers)

21

In [13]:
# multiplication of all the element 
numbers = [1, 2, 3, 4, 5, 6]

multiply_numbers = 1

for number in numbers:
        multiply_numbers = multiply_numbers * number # 1 * 1 = 1       
print(multiply_numbers)                              # 1 * 2 = 2
                                                     # 2 * 3 = 6

720

In [14]:
# Enumerate: allows us to loop over something and have an automatic
my_list = [ 'apple', 'blueberries', 'mango', 'watermelon', 'apricots']

In [16]:
for i, element in enumerate(my_list):
    print(i, element)

0 apple
1 blueberries
2 mango
3 watermelon
4 apricots

In [18]:
for i, element in enumerate("mangos"):
    print(i, element)

0 m
1 a
2 n
3 g
4 o
5 s

In [19]:
#range;list of no which used over for loop
for i in range(6):
    print(i)

0
1
2
3
4
5

In [20]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [23]:
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [24]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [26]:
#break and continue: used to exit skip the current block
for i in my_list:
    print(i)
    if i == 'mango':
      break

apple
blueberries
mango

In [33]:
for i in my_list:
    if i == 'mango':
        continue
    print(i)

apple
blueberries
watermelon
apricots

In [35]:
#nested loop:are loop that exist inside the body of anothr loop
for x in range(1, 6):
    for y in range(1, 11):
        print('{} * {} = {}'.format(x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [36]:
color_list =['black', 'white', 'gold']
phone_list =['iphone', 'samsung', 'blackberry']
for i in color_list:
    for j in phone_list:
        print(i ,j)

black iphone
black samsung
black blackberry
white iphone
white samsung
white blackberry
gold iphone
gold samsung
gold blackberry

In [39]:
mylist= [1, 2, 3, 4]
out_list = []
for element in mylist:
    out_list.append(element **2)
print(out_list)

[1, 4, 9, 16]

In [41]:
[element**2   for element in mylist]

[1, 4, 9, 16]